$color-p-1:#F5FEE7;
$color-p-2:#E8FEC5;
$color-p-3:#C0FA73;
$color-p-4:#57A203;
$color-p-5:#477A11;

$color-n-0:#FFFFFF;
$color-n-1:#F8F9FA;
$color-n-2:#E9ECEF;
$color-n-3:#DEE2E6;
$color-n-4:#CED4DA;
$color-n-5:#ADB5BD;
$color-n-6:#6C757D;
$color-n-7:#495057;
$color-n-8:#343A40;
$color-n-9:#212529;

$color-f-d-1:#FCF1F1;
$color-f-d-2:#EBA7A7;
$color-f-d-3:#D74F4F;

$color-f-s-1:#EFF8F4;
$color-f-s-2:#92D1BA;
$color-f-s-3:#36A375;

$color-f-w-1:#FEF6EC;
$color-f-w-2:#F9C588;
$color-f-w-3:#F38B12;

$color-f-i-1:#EEF5FC;
$color-f-i-2:#97C3ED;
$color-f-i-3:#3087D8;

$text-primary: $color-n-9;
$text-secondary: $color-n-6;
$text-muted: $color-n-5;
$text-highlight: $color-p-4;
$text-on-dark: $color-n-1;