.hero {
    position: relative;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    & .hero-content{
        max-width: 586px;
        position: absolute;
        inset: 0;
        margin-left: 200px;
        gap: $spacing-m;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        & h1{
            @include text-display1;
            font-weight: 700;
            color: #FFF;
        }

        & h3{
            @include text-tw-h3;
            font-weight: 700;
            color: #FFF;
        }
        & .bt-p-tx{
            margin-top: 40px;
        }
    }
}

.new-arrival{
    display: flex;
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .container{
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-s;
        .title{
            @include text-display2;
            font-weight: 700;
            color: $color-n-9;
        }
        h2{
            @include text-tw-h2;
            font-weight: 700;
            color: $color-n-9;
        }
    }
}

.best-seller{
    padding: $spacing-5xl 0;
    .container{
        display: flex;
        flex-direction: column;
        gap: $spacing-m;
    }
    header{
        height: 48px;
        display: flex;
        align-items: center
    }
    h2{
        @include text-tw-h2;
        font-weight: 700;
        color: $color-n-9;
    }
}