.navbar{
    height: 80px;
    width: 100%;
    max-width: 1920px;
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #fff;

    & a{
        cursor: default;
        transition: color 0.8s ease;
    }
    &-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $spacing-3xl;
    }
    &-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 174px;
        height: 48px;
        gap: $spacing-2xl;
        @include text-tw-h6;
        font-weight: 500;
        padding-top: $spacing-s;
        padding-bottom: $spacing-s;
        & a{
            color: $color-n-9;
            text-decoration: none;
        }
        & a:hover{
            color: $color-n-6;
        }
    }
    &-bt-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
    }
    &-user{
        height: 48px;
        width: 48px;
        min-height: 48px;
        border-radius: $radius-sm;
        padding: $spacing-s;
        font-size: 18px;
        gap: $spacing-xs;
        color: $color-n-9;
        background-color: #fff;
        border: none;
        transition: color 1s ease;
    }
    &-user:hover{
        color: $text-highlight;
    }
}

@media (max-width: 376px) {
    .navbar{
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;

        &-menu{
        display: contents;
        }
        &-logo{
            order: 1;
            padding: 12px;
        }
        &-bt-wrapper{
            order: 2;
            padding: 12px;
        }

        &-list{
            order: 3;
            width: 100%;
            height: 48px;
            gap: 0;
            padding-top: $spacing-s;
            padding-bottom: $spacing-s;
            color: $color-n-9;
            @include text-tw-lb-md;

            & a{
                flex: 1;
                display: flex;
                height: 48px;
                align-items: center;
                justify-content: center;
                &:first-child{
                    background-color: $color-p-2;
                }
                &:last-child{
                    background-color: $color-p-1;
                }
            }
        }
    }
}